@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <style>
        #modal .modal-dialog {
            display: none;
        }
    </style>

    <div class="btn btn-primary" id="btn">对话框</div>

    <div class="modal" id="modal">
        <div class="modal-dialog" id="modal1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">modal1</h4>
                </div>
                <div class="loading">
                    <div class="modal-body">
                        <div><i class="icon-spinner icon-spin"></i> 读取中...</div>
                    </div>
                </div>
                <div class="content">
                    <div class="modal-body">
                        <div class="select">
                            <input type="hidden" />
                            <div class="dropdown">
                                <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Dropdown</span> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="item" data-value="Action">Action</a></li>
                                    <li><a href="#" class="item" data-value="Another action">Another action</a></li>
                                    <li><a href="#" class="item" data-value="Something else here">Something else here</a></li>
                                    <li><a href="#" class="item" data-value="Separated link">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="next2">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-dialog" id="modal2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">modal2</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default message">消息框</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="next1">Save changes</button>
                </div>
            </div>
        </div>

        <div class="modal-dialog" id="message">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close rollback" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Message Box</h4>
                </div>
                <div class="modal-body">
                    <p>Message Box&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default rollback">OK</button>
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="~/js/Uploader.js"></script>
    <script src="~/js/BatchUploader.js"></script>
    <script>
        $(function () {

            $(document).on('click', '.select .item', function () {
                var t = $(this);
                var btnText = t.parents('.select').find('.btn .text');
                var input = t.parents('.select').find('input');
                var value = t.data('value');
                var text = t.text();

                btnText.text(text);
                input.val(value);
            });

            var prev = null;

            function RollBack() {
                if (prev != null)
                    ShowModal(prev);
                else
                    Close();
            }

            function Close() {
                $('#modal').modal('hide');
            }

            function ShowModal(target) {
                var modal = $('#modal');
                modal.modal('show');
                var visible = modal.find('.modal-dialog:visible');
                visible.animate({ opacity: '0', marginTop: '0px', marginBottom: '0px', height: '0px' }, function () {
                    $(this).removeAttr('style');
                    visible.remove();
                    modal.append(visible);

                    prev = visible;
                });

                target.css({ display: 'block', opacity: '0', }).animate({ opacity: '1' }, function () {
                    modal.prepend($(this));
                });
            }

            $('#modal').on('hidden.bs.modal', function () {
                var modal = $(this);
                modal.find('.modal-dialog').removeAttr('style');

                prev = null;
            });

            $('#btn').click(function () { ShowModal($('#modal1')); });

            $(document).on('click', '#next1', function () {
                var modal = $('#modal1');
                var loading = modal.find('.loading');
                var content = modal.find('.content');
                loading.show();
                content.hide();

                setTimeout(function () {
                    loading.slideUp();
                    content.slideDown();
                }, 2000);
                ShowModal(modal);
            });
            $(document).on('click', '#next2', function () { ShowModal($('#modal2')) });
            $(document).on('click', '.rollback', function () { RollBack(); });
            $(document).on('click', '.message', function () { ShowModal($('#message')) });
        });
    </script>
</body>
</html>
