@{
    ViewBag.Title = "Http Method 测试";
}

<form method="get">
    <input type="hidden" value="get" name="method" />
    <button>get</button>
</form>

<form method="post">
    <input type="hidden" value="post" name="method" />
    <button>提交(post)</button>
</form>

<form method="put">
    <input type="hidden" value="put" name="method" />
    <button>提交(put)</button>
</form>

<form method="delete">
    <input type="hidden" value="delete" name="method" />
    <button>提交(delete)</button>
</form>